env/
.ipynb_checkpoints/first notebook-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.DS_Store
*.docx
.ipynb_checkpoints/
.Rproj.user/
.Rproj.user/20E30691/pcs/windowlayoutstate.pper
.Rproj.user/20E30691/pcs/windowlayoutstate.pper
.Rproj.user/20E30691/pcs/windowlayoutstate.pper
.Rproj.user/20E30691/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/20E30691/pcs/files-pane.pper
.Rproj.user/20E30691/pcs/files-pane.pper
.Rproj.user/20E30691/pcs/workbench-pane.pper
.Rproj.user/20E30691/sources/prop/5E0A73DF
.Rproj.user/20E30691/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/20E30691/pcs/files-pane.pper
.Rproj.user/20E30691/pcs/windowlayoutstate.pper
.Rproj.user/20E30691/pcs/workbench-pane.pper
.Rproj.user/20E30691/sources/prop/5E0A73DF
.Rproj.user/20E30691/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/20E30691/pcs/source-pane.pper
